@import url(./styles/globalStyles.css);

body {
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.c-loader {
    animation: is-rotating 0.75s infinite;
    border: 15px solid var(--color-grey-4);
    border-radius: 50%;
    border-top-color: var(--color-brand-1);
    height: 150px;
    width: 150px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}